# === Max安装Max包 === 
# CONFIG_PACKAGE_easytier=y                 # EasyTier核心包
CONFIG_PACKAGE_luci-app-easytier=y          # EasyTier LuCI管理界面
# CONFIG_PACKAGE_luci-i18n-easytier-zh_cn=y # EasyTier中文语言包
CONFIG_PACKAGE_luci-app-lucky=y             # Lucky端口转发工具
# CONFIG_PACKAGE_luci-i18n-lucky-zh_cn=y   # Lucky中文语言包
# CONFIG_PACKAGE_luci-app-partexp=y         # 磁盘分区扩展工具
