# === Pro禁用Docker/USB/Coremark ===

#  USB Support
CONFIG_PACKAGE_kmod-usb-acm=n               # USB ACM (串口) 支持
CONFIG_PACKAGE_kmod-usb-ehci=n              # USB EHCI 控制器支持
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=n # 华为 CDC NCM USB 网络支持
CONFIG_PACKAGE_kmod-usb-net-ipheth=n        # Apple iPhone USB 网络支持
CONFIG_PACKAGE_kmod-usb-net-rndis=n         # RNDIS USB 网络支持
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=n   # ASIX AX88179 USB 网络支持
CONFIG_PACKAGE_kmod-usb-net-rtl8152=n        # Realtek RTL8152 USB 网络支持
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=n # Sierra Wireless USB 网络支持
CONFIG_PACKAGE_kmod-usb-ohci=n              # USB OHCI 控制器支持
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=n   # Qualcomm USB 串口支持
CONFIG_PACKAGE_kmod-usb-storage=n           # USB 存储设备支持
CONFIG_PACKAGE_kmod-usb-storage-extras=n    # USB 存储额外功能
CONFIG_PACKAGE_kmod-usb-storage-uas=n       # USB Attached SCSI (UAS) 支持
CONFIG_PACKAGE_kmod-usb2=n                  # USB 2.0 支持
CONFIG_PACKAGE_kmod-usb3=n                  # USB 3.0 支持

#  docker
CONFIG_PACKAGE_runc=n
CONFIG_PACKAGE_docker=n
CONFIG_PACKAGE_dockerd=n
#  docker kernel dependencies
CONFIG_PACKAGE_kmod-br-netfilter=n          # 桥接网络过滤器支持
CONFIG_PACKAGE_kmod-ip6tables=n             # IPv6 iptables 支持
CONFIG_PACKAGE_kmod-ipt-conntrack=n         # 连接跟踪支持
CONFIG_PACKAGE_kmod-ipt-extra=n             # 额外的 iptables 模块
CONFIG_PACKAGE_kmod-ipt-nat=n               # NAT 支持
CONFIG_PACKAGE_kmod-ipt-nat6=n              # IPv6 NAT 支持
CONFIG_PACKAGE_kmod-ipt-physdev=n           # 物理设备匹配支持
CONFIG_PACKAGE_kmod-nf-ipt6=n               # IPv6 Netfilter 支持
CONFIG_PACKAGE_kmod-nf-ipvs=n               # IPVS (负载均衡) 支持
CONFIG_PACKAGE_kmod-nf-nat6=n               # IPv6 Netfilter NAT 支持
CONFIG_PACKAGE_kmod-dummy=n                 # dummy 网络接口支持
CONFIG_PACKAGE_kmod-veth=n                  # veth 网络接口支持
#  docker dependencies
CONFIG_PACKAGE_iptables-mod-extra=n         # 额外的 iptables 模块
CONFIG_PACKAGE_ip6tables-mod-fullconenat=n  # IPv6 Full Cone NAT 模块
CONFIG_PACKAGE_iptables-mod-fullconenat=n   # IPv4 Full Cone NAT 模块
CONFIG_PACKAGE_libip4tc=n                   # IPv4 iptables 库
CONFIG_PACKAGE_libip6tc=n                   # IPv6 iptables 库

#  mwan3 dependencies
CONFIG_PACKAGE_iptables-mod-conntrack-extra=n # 额外的连接跟踪 iptables 模块
CONFIG_PACKAGE_kmod-macvlan=n               # macvlan 网络接口支持 (Libwrt新增)

#  Coremark
CONFIG_PACKAGE_coremark=n                   # Coremark 基准测试
CONFIG_COREMARK_OPTIMIZE_O3=n               # Coremark 使用 O3 优化级别
CONFIG_COREMARK_ENABLE_MULTITHREADING=n     # Coremark 多线程
# CONFIG_COREMARK_NUMBER_OF_THREADS=6         # Coremark 使用 6 个线程
